<h2>All orders</h2>
<div>
<ul>
  <% @orders.each do |order| %>
    <li><%= order.product_id %></li>
    <li><%= order.photo_id %></li>
    <%= link_to "Edit", order_path(order) %>
  <% end %>
</ul>

</div>
