<div class="container w-50">
  <h1>Confirmation de Commande</h1><br>

  <h2>Merci pour votre commande</h2><br>

    <div class="image-item">
      <%= cl_image_tag @product.photo_id.to_s %>
        <div class="order-product-infos">
          <p class="fst-italic">Le numéro de votre commande est : <strong><%= @order.product_id %></strong></p>
          <p class="fst-italic">Le prix de votre commande est : <strong><%= @order.total_price %></strong></p>
        </div>
      </div>
</div>

<div class="btn">
<%= link_to "Products", products_path, class: "btn btn-gradient" %>
</div>
