<div class="container w-50">
<h1>Merci pour votre commande</h1>
<div class="order-product">
  <%= cl_image_tag @product.photo_id.to_s, height: 500, width: 500, crop: :fill %>
  <div class="order-product-infos">
    <div class="order-product-infos-text">
      <p>référence commande : <%= @order.product_id %></p>
      <p>Le prix de votre commande est de : <%= @order.total_price %></p>
    </div>
  </div>



</div>
