<div class="container w-50">
  <h1>Confirmation de Commande</h1><br>

  <h2>Merci pour votre commande</h2><br>

    <div class="image-item">
      <%= cl_image_tag @product.photo_id.to_s %>
        <div class="order-product-infos">
          <p>référence commande : <%= @order.product_id %></p>
          <p>Le prix de votre commande est de : <%= @order.total_price %></p>
        </div>
      </div>
    </div>
</div>
