<h1>Display products</h1>
<% @products.each do |product| %>
  <p><%= link_to product.name, product_path(product) %></p>
<% end %>
<% if user_signed_in? %>
  <% if current_user.artisan? %>
    <%= link_to "Add New Product",  new_product_path %>
  <% end %>
<% end %>
